[package]
name = "lazynote_ffi"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["cdylib", "staticlib", "rlib"]

[dependencies]
lazynote_core = { path = "../lazynote_core" }
flutter_rust_bridge = { workspace = true }
